
<div class="p-3 m-5 bg-danger text-white text-center"><h2>An error occurred, redirecting to the homepage</h2></div>
<script>
    window.setTimeout( function(){
        window.location = "/home";
    }, 5000 );
</script>