
<div class="p-3 m-5 bg-danger text-white text-center"><h2>wrong username or password, please try again!</h2></div>
<script>
    window.setTimeout( function(){
        window.location = "/";
    }, 5000 );
</script>