<div style="height:50px;">
    <h2>Welcome</h2>
</div>
<div class="row">
  <div class="col-sm-12 px-md-5">
    <form id="loginForm" action="login" method="post">
      <label for="username">user:</label><br>
      <input class="form-control" type="text" id="username" name="username" ><br>
      <label for="password">password:</label><br>
      <input class="form-control" type="password" id="password" name="password" ><br>
      <button class="btn btn-primary btn-sm active" name="loginSubmit" id="loginSubmit" value="S" type="submit">Login</button>
    </form> 
    <br>
  </div>
</div>