
<div class="p-3 m-5 bg-primary text-white text-center"><h2>See you later {{usuario.username}}!</h2></div>
<script>
    window.setTimeout( function(){
        window.location = "/login";
    }, 3000 );
</script>